/projetos/aula-01/OlaMundo/OlaMundo/nbproject/private/
/projetos/aula-01/OlaMundo/OlaMundo/build/
/projetos/aula-01/OlaMundo/SituacaoDoAluno/nbproject/private/
/projetos/aula-01/OlaMundo/SituacaoDoAluno/build/
/projetos/aula-01/SituacaoAluno/nbproject/private/
/projetos/aula-01/SituacaoAluno/build/
/projetos/aula-02/TiposPrimitivos/nbproject/private/
/projetos/aula-02/TiposPrimitivos/build/
/projetos/aula-02/MeuNome/nbproject/private/
/projetos/aula-02/MeuNome/build/
/projetos/aula-02/Tabulacao/nbproject/private/
/projetos/aula-02/Tabulacao/build/
/projetos/aula-02/ContadorLinhas/nbproject/private/
/projetos/aula-02/ContadorLinhas/build/
/projetos/aula-02/AnoBissexto/nbproject/private/
/projetos/aula-02/AnoBissexto/build/
/projetos/aula-03/AreaRetangulo/nbproject/private/
/projetos/aula-03/AreaRetangulo/build/
/projetos/aula-03/JavaApplication10/nbproject/private/
/projetos/aula-03/JavaApplication10/build/
/projetos/aula-03/Leituras/nbproject/private/
/projetos/aula-03/Leituras/build/
/projetos/aula-03/FrasesOrdenadas/nbproject/private/
/projetos/aula-03/FrasesOrdenadas/build/
/projetos/aula-03/MediaAritimetica/nbproject/private/
/projetos/aula-03/MediaAritimetica/build/
/projetos/aula-03/Fibonnaci/nbproject/private/
/projetos/aula-03/Fibonnaci/build/
/projetos/aula-04/MultiploDeDois/nbproject/private/
/projetos/aula-04/MultiploDeDois/build/
/projetos/aula-04/Triangulo/nbproject/private/
/projetos/aula-04/Triangulo/build/
/projetos/aula-04/ParImpar/nbproject/private/
/projetos/aula-04/ParImpar/build/
/projetos/aula-04/PessoaMaisVelha/nbproject/private/
/projetos/aula-04/PessoaMaisVelha/build/
/projetos/aula-04/MaiorOuIgual/nbproject/private/
/projetos/aula-04/MaiorOuIgual/build/
/projetos/aula-04/NotasEstudante/nbproject/private/
/projetos/aula-04/NotasEstudante/build/
/projetos/aula-04/Paises/nbproject/private/
/projetos/aula-04/Paises/build/
/projetos/aula-04/MultiplicarOuSomar/nbproject/private/
/projetos/aula-04/MultiplicarOuSomar/build/
/projetos/aula-04/PositivoNegativo/nbproject/private/
/projetos/aula-04/PositivoNegativo/build/
/projetos/aula-04/Fatorial/nbproject/private/
/projetos/aula-04/Fatorial/build/
/projetos/aula-05/QuadradoFor/nbproject/private/
/projetos/aula-05/QuadradoFor/build/
/projetos/aula-05/Teste/nbproject/private/
/projetos/aula-05/Teste/build/
/projetos/aula-05/ForQuadrado/nbproject/private/
/projetos/aula-05/ForQuadrado/build/
/projetos/aula-05/DezImpares/nbproject/private/
/projetos/aula-05/DezImpares/build/
/projetos/aula-05/Entre1e4/nbproject/private/
/projetos/aula-05/Entre1e4/build/
/projetos/aula-05/Temperaturas/nbproject/private/
/projetos/aula-05/Temperaturas/build/
/projetos/aula-05/IdadeEmDias/nbproject/private/
/projetos/aula-05/IdadeEmDias/build/
/projetos/aula-05/Grenais/nbproject/private/
/projetos/aula-05/Grenais/build/
/projetos/aula-06/Matrizes/nbproject/private/
/projetos/aula-06/Matrizes/build/
/projetos/aula-06/CopiaMatriz/nbproject/private/
/projetos/aula-06/CopiaMatriz/build/
/projetos/aula-07/ManipulacaoDeStrings/nbproject/private/
/projetos/aula-07/ManipulacaoDeStrings/build/
/projetos/aula-07/ValorDeS/nbproject/private/
/projetos/aula-07/ValorDeS/build/
